<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="description" th:content="${description}" />
    <meta name="keywords" th:content="${keywords}" />
    <title>index</title>
</head>
<body>
<h3>接收文本并显示</h3>
<p th:text="${cn}">这是静态数据abc</p>
<p th:text="${cqut}">这是静态数据abc</p>
标签外的文字说明：
<p th:utext="${cqut}">这是静态数据abc</p>
<!--接收对象方法一-->
<p th:object="${cake}">
    蛋糕编号：<span th:text="*{id}"></span><br>
    蛋糕名：<span th:text="*{name}"></span><br>
    生产日期：<span th:text="*{#dates.format(date,'yyyy.MM.dd.HH.mm')}"></span><br>
</p>
<!--接收对象方法二-->
<p th:text="蛋糕编号 + ${cake.id}"></p>
<!--接收方法三-->
<p th:text="|蛋糕编号: ${cake.getId()}|"></p>
<h4>获取List集合</h4>
<!--整体获取-->
<ul>
    <li th:text="${computer}"></li>
</ul>
<!--单个获取-->
<ul>
    <li th:text="${computer[1]}"></li>
</ul>
<h4>获取Map集合</h4>
<p th:text="${movie['001']}"></p>
<p th:text="${movie.get('002')}"></p>
<h4>if判断</h4>
<!--th:if-->
<p th:if="${true}" th:text="${cqut}">条件判断是否显示</p>
<p th:if="${false}" th:text="${cn}">条件判断是否显示</p>
<!--th:unless-->
<p th:unless="${true}" th:text="${cqut}">条件判断是否显示</p>
<p th:unless="${false}" th:text="${cn}">条件判断是否显示</p>
<!--显示图片-->
<img th:src="@{/static/image/background.webp}" alt="zero two"><br>
</body>
</html>